input {
    height: 10%;
    width: 50%;
    display: block;
    margin: 0 auto;
}

form{
  text-align: center;
}

.inactive {
  color: #fff;
  text-decoration: none;
  font-size: 1vw;
}

.active {
  color: black;
  text-decoration: none;
}

.bgWithOpacity {
  background-color: rgba(70, 155, 224, 0.5); /* Red color with 50% opacity */
  /* Other styling properties */
}

.bgCardWithOpacity {
  background-color: rgba(255, 255, 255, 0.5); /* Red color with 50% opacity */
  /* Other styling properties */
}
